$white: #ffffff;
$black: #000000;
$orange: #FF7562;
$baby-blue: #CAE5FF;
$blue: #4F5BC6;
$blue-400: #424DB0;
$blue-600: #061e33;
$blue-light: #D1E1F6;
$blue-dark: #22376D;
$green: #3A7975;
$lilac: #DFBCFB;
$logo-blue: #0C2840;
$red: #F08787;
$yellow: #F7FA6E;
$neutral-50: #F6F8FB;
$neutral-400: #CED4DA;
$neutral-500: #ADB5BD;
$neutral-600: #6C757D;
$neutral-650: #343A40;
$neutral-700: #212529;
$neutral-800: #343A40;