@import "./_mixins.scss";
@import "./_variables.scss";
@import "./_colors.scss";

@include font-face("Chango", "../fonts/Chango/Chango-Regular", 400, normal);
@include font-face("Lato", "../fonts/Lato/Lato-Regular", 400, normal);
@include font-face("Lato", "../fonts/Lato/Lato-Bold", 700, normal);
@include font-face("Lato", "../fonts/Lato/Lato-Black", 900, normal);
@include font-face("Rubik", "../fonts/Rubik/Rubik-Medium", 500, normal);
@include font-face("Rubik", "../fonts/Rubik/Rubik-Bold", 700, normal);
@include font-face("TT Norms", "../fonts/TT-Norms/TTNorms-Regular", 400, normal);
@include font-face("TT Norms", "../fonts/TT-Norms/TTNorms-Medium", 500, normal);
@include font-face("TT Norms", "../fonts/TT-Norms/TTNorms-MediumItalic", 500, italic);
@include font-face("TT Norms", "../fonts/TT-Norms/TTNorms-Bold", 700, normal);
@include font-face("TT Norms", "../fonts/TT-Norms/TTNorms-ExtraBold", 800, normal);

h1 {
	font-size-responsive: 36px 42px 480px 1300px;
	margin: 0;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 50px;
}

h2 {
	font-size-responsive: 30px 42px 480px 1300px;
	margin: 0;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 39px;
}

h3 {
	font-size-responsive: 24px 26px 480px 1300px;
	margin: 0;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 39px;
}

h4 {
	font-size-responsive: 24px 18px 480px 1300px;
	margin: 0;
	margin: 0;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 39px;
}

h5 {
	font-size-responsive: 18px 16px 480px 1300px;
	margin: 0;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 39px;
}

h6 {
	font-size-responsive: 18px 14px 480px 1300px;
	margin: 0;
	margin: 0;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 39px;
}

p {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	padding: 0;
	margin: 0;
}

/*text style*/
@mixin h2 {
	font-size: 64px;
	font-family: 'Chango', sans-serif;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 113.31750154495239%;
}
@mixin h3-chango {
	font-size: 48px;
	font-family: 'Chango', sans-serif;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 113.31750154495239%;
}
@mixin h3-tt-norms {
	font-size: 42px;
	font-family: 'TT Norms', sans-serif;
	font-weight: 700;
	letter-spacing: 0;
}
@mixin h4-tt-norms {
	font-size: 32px;
	font-family: 'TT Norms', sans-serif;
	font-weight: 800;
	letter-spacing: 0;
	line-height: 28px;
}
@mixin h4-chango {
	font-size: 32px;
	font-family: 'Chango', sans-serif;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 113.31750154495239%;
}
@mixin button {
	font-size: 20px;
	font-family: 'Chango', sans-serif;
	font-weight: 400;
	letter-spacing: 0;
}
@mixin body-regular {
	font-size: 20px;
	font-family: 'TT Norms', sans-serif;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 26px;
}
@mixin body-bold {
	font-size: 20px;
	font-family: 'TT Norms', sans-serif;
	font-weight: 700;
	letter-spacing: 0;
}
@mixin body-medium---prominent {
	font-size: 24px;
	font-family: 'TT Norms', sans-serif;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 32px;
}
@mixin caption-regular {
	font-size: 14px;
	font-family: 'TT Norms', sans-serif;
	font-weight: 400;
	letter-spacing: 0;
}
@mixin caption-medium {
	font-size: 14px;
	font-family: 'TT Norms', sans-serif;
	font-weight: 500;
	letter-spacing: 0;
}
@mixin caption-bold {
	font-size: 14px;
	font-family: 'TT Norms', sans-serif;
	font-weight: 700;
	letter-spacing: 0;
}
@mixin caption-bold-overline {
	font-size: 14px;
	font-family: 'TT Norms', sans-serif;
	font-weight: 700;
	letter-spacing: 0.08em;
}
@mixin caption-medium-italic {
	font-size: 14px;
	font-family: 'TT Norms', sans-serif;
	font-weight: 500;
	font-style: italic;
	letter-spacing: 0;
	line-height: 20px;
}
@mixin rubik-as-an-addition-to-the-title {
	font-size: 58px;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	letter-spacing: 0;
}
@mixin mini-caption-regular {
	font-size: 12px;
	font-family: 'TT Norms', sans-serif;
	font-weight: 400;
	letter-spacing: 0;
}