.btn {
	width: fit-content;
	padding: 14.4px 18px 13.6px 20px;
	border-radius: 12px;
	background-color: $primary-peach;
	border: unset;
	font-family: 'Chango', sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: $text-color-white;
	clip-path: polygon(0% 15.789%, 0% 15.789%, 0.077% 13.228%, 0.299% 10.799%, 0.655% 8.533%, 1.132% 6.464%, 1.719% 4.625%, 2.403% 3.046%, 3.173% 1.762%, 4.016% 0.805%, 4.921% 0.207%, 5.875% 0%, 5.875% 0%, 6.952% 0%, 8.144% 0%, 9.458% 0%, 10.899% 0%, 12.471% 0%, 14.18% 0%, 16.032% 0%, 18.031% 0%, 20.183% 0%, 22.494% 0%, 22.494% 0%, 27.822% 0.086%, 34.394% 0.324%, 41.899% 0.684%, 50.024% 1.138%, 58.457% 1.656%, 66.884% 2.208%, 74.995% 2.766%, 82.476% 3.3%, 89.015% 3.779%, 94.3% 4.176%, 94.3% 4.176%, 95.233% 4.446%, 96.114% 5.09%, 96.934% 6.076%, 97.68% 7.373%, 98.343% 8.95%, 98.91% 10.777%, 99.37% 12.821%, 99.713% 15.052%, 99.926% 17.438%, 100% 19.948%, 100% 50%, 100% 81.26%, 100% 81.26%, 99.927% 83.766%, 99.714% 86.148%, 99.374% 88.375%, 98.916% 90.416%, 98.352% 92.241%, 97.693% 93.818%, 96.95% 95.115%, 96.133% 96.103%, 95.254% 96.749%, 94.324% 97.023%, 94.324% 97.023%, 90.418% 97.336%, 85.796% 97.695%, 80.632% 98.082%, 75.103% 98.479%, 69.381% 98.865%, 63.642% 99.224%, 58.061% 99.535%, 52.812% 99.781%, 48.07% 99.942%, 44.01% 100%, 44.01% 100%, 40.392% 99.957%, 36.482% 99.837%, 32.373% 99.652%, 28.154% 99.416%, 23.917% 99.142%, 19.754% 98.842%, 15.754% 98.531%, 12.011% 98.221%, 8.613% 97.924%, 5.653% 97.655%, 5.653% 97.655%, 4.727% 97.372%, 3.852% 96.72%, 3.039% 95.729%, 2.298% 94.431%, 1.642% 92.856%, 1.08% 91.035%, 0.624% 88.999%, 0.285% 86.78%, 0.073% 84.407%, 0% 81.913%, 0% 50%, 0% 15.789%);
}

